.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 100%;
}

header {
  text-align: center;
  padding-top: 4rem;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  font-weight: 700;
  cursor: pointer;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to left, rgb(203, 94, 238), rgb(12, 215, 228));
  color: black;
  font-size: 1.3rem;
}

.waveButton:disabled {
  cursor: not-allowed;
  background-color: #9b9ea5;
  color: #32565c;
}

.errors {
  color: red;
  font-size: 0.8em;
  margin-top: 1rem;
}

.errors *::before {
  content: '*';
  display: inline-block;
}

section {
  flex: 0 0 auto;
  max-height: 300px;
  overflow: auto;
}

footer {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;

}

footer a {
  padding: 0 0.5rem;
  color: #494949;
}

.fancy-bg {
  background-image: linear-gradient(to left, rgb(203, 94, 238), rgb(12, 215, 228));
  color: transparent;
  background-clip: text;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.25rem;
}

footer a:visited {
  color: auto;
}